@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: whitesmoke;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
  object-fit: cover;
}

input, button, textarea, select {
  font-family: inherit;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2 {
  font-family: "roboto-bold";
  padding: 20px 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-family: "roboto-bold";
}

h4 {
  font-family: "shrikhand";
  font-size: 1.2em;
}

p {
  font-family: "roboto-light";
}

span, a {
  font-family: "roboto-regular";
  font-size: 1em;
}

button {
  font-family: "roboto-bold";
  border: none;
}

#wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

@font-face {
  font-family: "shrikhand";
  src: url(fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url(fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url(fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url(fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url(fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@media only screen and (max-width: 640px) {
  /* Header */
  header, #logo {
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
  }

  #logo {
    padding: 20px 0;
    background-color: white;
  }

  #logo img {
    width: 180px;
    margin: 0 auto;
  }

  #localisation {
    -moz-box-shadow: inset 0px 7px 10px -11px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: inset 0px 7px 10px -11px rgba(50, 50, 50, 0.75);
    box-shadow: inset 0px 7px 10px -11px rgba(50, 50, 50, 0.75);
    padding: 15px 0;
    background-color: #EAEAEA;
    color: #353535;
    font-weight: 600;
  }

  #localisation i {
    padding-right: 20px;
    font-size: 1.2em;
  }

  .call-to-action__button {
    -webkit-box-shadow: 0px 7px 10px -5px #8e8e8e;
    -moz-box-shadow: 0px 7px 10px -5px #8e8e8e;
    box-shadow: 0px 7px 10px -5px #8e8e8e;
    padding: 15px 20px;
    margin: 25px 0;
    width: fit-content;
    border-radius: 25px;
    color: white;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
  }

  #call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  #howto {
    background-color: white;
    padding: 20px;
  }

  .howto__nav i {
    color: #7E7E7E;
    font-size: 20px;
    width: 25px;
    position: absolute;
    left: 45px;
    align-self: center;
  }

  .howto__nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
  }

  .howto__nav button {
    box-shadow: 1px 1px 15px 1px gainsboro;
    border-radius: 18px;
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 100px;
    background-color: whitesmoke;
  }

  /* Création de la petite pastille avec les nombres */
  .number-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
    width: 27px;
    height: 27px;
    border-radius: 20px;
    background-color: #9356DC;
    color: white;
    font-weight: bold;
  }

  button > a {
    color: black;
    font-weight: bold;
  }

  #restaurants {
    padding: 20px;
  }

  .restaurants__card {
    box-shadow: 1px 1px 15px 1px gainsboro;
    border-radius: 18px;
    position: relative;
    position: relative;
    margin-bottom: 20px;
  }

  .restaurants__card img {
    border-radius: 18px 18px 0 0;
    height: 185px;
  }

  .restaurants__card__text {
    padding: 15px 15px;
  }

  .new-label {
    position: absolute;
    width: 90px;
    top: 15px;
    right: 15px;
    padding: 5px;
    background-color: #99E2D0;
    color: #269D80;
    font-family: "roboto-bold";
    text-align: center;
    border-radius: 3px;
  }

  .fa-heart {
    position: absolute;
    top: 210px;
    right: 25px;
    font-size: 30px;
    transition: all 0.5s;
  }

  .fa-heart i {
    fill: none;
    stroke-width: 1px;
    stroke: "black";
  }

  footer {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    margin-top: 20px;
  }

  footer h4 {
    padding-bottom: 10px;
  }

  .legal-notice, .contact {
    font-weight: 300;
  }

  .fa-utensils, .fa-handshake-angle {
    font-size: 12px;
    width: 20px;
  }

  span > i {
    padding-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
