@charset "UTF-8";
/* --- Pulsations du coeur --- */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}
/* --- Loading spinner --- */
@keyframes loading-disappear {
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes food-fiesta {
  to {
    -webkit-transform: translate(-100%, 0);
  }
  from {
    -webkit-transform: translate(0%, 0);
  }
}
@font-face {
  font-family: "shrikhand";
  src: url(fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url(fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url(fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url(fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url(fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url(fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "font-awesome 4 Free";
  src: url(webfonts/fa-solid-900.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

h1,
h2 {
  font-family: "roboto-bold";
  padding: 20px 0;
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-family: "roboto-bold";
  font-weight: 400;
}

h4 {
  font-family: "shrikhand";
  font-size: 1.2em;
}

p {
  font-family: "roboto-light";
}

span,
a {
  font-family: "roboto-regular";
  font-size: 1em;
  cursor: pointer;
  text-overflow: ellipsis;
}

button,
input {
  font-family: "roboto-bold";
  border: none;
  background-color: transparent;
}

#wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

/* Header */
header, #logo {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#logo {
  padding: 20px 0;
  background-color: white;
}
#logo img {
  width: 45vw;
  margin: 0 auto;
}

/* Footer */
footer {
  padding: 20px 20px;
  background-color: #353535;
  color: white;
}
footer h4 {
  padding-bottom: 10px;
}
footer a:hover {
  color: #9356dc;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.legal-notice,
.contact {
  font-weight: 300;
}

.fa-utensils, .fa-handshake-angle {
  font-size: 12px;
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 10px;
}

.call-to-action__btn {
  -webkit-box-shadow: 0 7px 10px -5px #8e8e8e;
  -moz-box-shadow: 0 7px 10px -5px #8e8e8e;
  box-shadow: 0 7px 10px -5px #8e8e8e;
  display: block;
  padding: 13px 15px;
  margin: 25px 0;
  width: fit-content;
  border-radius: 25px;
  color: white;
  background: linear-gradient(360deg, #9356dc, #ff79da);
  transition: box-shadow 0.8s, text-shadow 0.5s;
}
.call-to-action__btn:hover {
  background: linear-gradient(360deg, #9f6edb, #fc92de);
  box-shadow: 1px 1px 12px 1px #9356dc;
  text-shadow: 1px 1px 0 #9356dc;
}

.howto__nav__button {
  box-shadow: 1px 1px 15px 1px gainsboro;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 80px;
  background-color: whitesmoke;
  transition: all 0.8s;
}
.howto__nav__button:hover {
  opacity: 0.8;
  box-shadow: 0 1px 12px 1px #9356dc;
  background: rgba(147, 86, 220, 0.2);
}
.howto__nav__button:hover i {
  color: #9356dc;
}

.like-icon-regular {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 25px;
}

.like-icon-solid {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 25px;
  opacity: 0;
  transition: all 0.8s;
}
.like-icon-solid:hover {
  animation: pulse 0.6s 0.8s infinite;
  transition: all 0.5s linear;
  color: transparent;
  background-image: linear-gradient(360deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
}

.dishes-btn {
  box-shadow: 1px 1px 15px 1px gainsboro;
  border-radius: 15px;
  position: relative;
  position: relative;
  font-size: 0.9em;
  padding: 10px;
  height: 70px;
  width: 100%;
  overflow: hidden;
}
.dishes-btn::before {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  font-family: "font-awesome 4 Free";
  content: "\f058";
  right: -20px;
  top: 25%;
  font-size: 25px;
  transform: translate(0) rotate(90deg);
  transition: all 0.5s;
  color: white;
}
.dishes-btn:hover {
  padding-right: 60px;
  transition: all 0.5s;
}
.dishes-btn:hover::before {
  transform: translateX(-145%) rotate(1turn);
  visibility: visible;
  transition: all 0.5s;
  z-index: 2;
}
.dishes-btn:hover .dishes-btn__check {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  width: 100%;
  border-right: 60px solid #99e2d0;
  transition: all 0.5s;
}

/* --- Régles sécifiques aux tablettes --- */
@media only screen and (min-width: 768px) {
  .howto__nav__button {
    padding-left: 300px;
  }
}
/* --- Régles des boutons pour les pages menus --- */
.like-icon-regular-menu {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 25px;
  width: fit-content;
}

.like-icon-solid-menu {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 25px;
  width: fit-content;
  opacity: 0;
  transition: all 0.8s;
}
.like-icon-solid-menu:hover {
  animation: pulse 0.6s 0.8s infinite;
  color: transparent;
  background-image: linear-gradient(360deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-btn .call-to-action__btn {
  padding: 15px 50px;
  margin: 0 0 40px 0;
}

/* --- Loader --- */
.container-loader {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 4;
  background-color: white;
  font-size: 3em;
  color: black;
  animation: loading-disappear 4s forwards;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}
.container-loader p {
  font-family: "shrikhand";
}
.container-loader strong {
  font-family: "roboto-thin";
}

.container-loader__food-line,
.container-loader__food-line-top-reverse {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 60px;
  overflow: hidden;
  bottom: 15px;
}
.container-loader__food-line i,
.container-loader__food-line-top-reverse i {
  width: fit-content;
  color: #99e2d0;
  font-size: 0.7em;
}
.container-loader__food-line .food-fiesta,
.container-loader__food-line-top-reverse .food-fiesta {
  white-space: nowrap;
  animation: food-fiesta 10s linear infinite;
}
.container-loader__food-line .food-fiesta .line-2,
.container-loader__food-line-top-reverse .food-fiesta .line-2 {
  text-align: start;
}
.container-loader__food-line .food-fiesta .fa-utensils, .container-loader__food-line .food-fiesta .fa-handshake-angle,
.container-loader__food-line-top-reverse .food-fiesta .fa-utensils,
.container-loader__food-line-top-reverse .food-fiesta .fa-handshake-angle {
  margin-right: 10px;
}

.loader-subtitle {
  font-family: "roboto-thin";
  font-size: 0.3em;
  position: absolute;
  top: 55%;
}
.loader-subtitle .bounce-points {
  animation: 1s ease-in-out infinite bounce;
  font-size: 15em;
  line-height: 0.7;
  background: linear-gradient(360deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-loader__food-line-top-reverse {
  top: 15px;
}
.container-loader__food-line-top-reverse .food-fiesta {
  animation-direction: reverse;
}

#localisation {
  -moz-box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
  padding: 15px 0;
  background-color: #eaeaea;
  color: #353535;
  font-weight: 600;
  font-size: 1em;
}
#localisation i {
  padding-right: 20px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
}

/* Section, fonctionnement */
.howto__container {
  background-color: white;
  padding: 20px 20px 20px 32px;
}

.fas {
  display: inline-block;
  text-align: center;
}

.howto__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.howto__nav i {
  color: #7e7e7e;
  font-size: 1.2em;
  width: 35px;
  position: absolute;
  left: 35px;
}
.howto__nav p {
  font-family: "roboto-regular";
}

/* Création de la petite pastille avec les nombres */
.number-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  width: 27px;
  height: 27px;
  border-radius: 20px;
  background-color: #9356dc;
  color: white;
  font-weight: bold;
}

/* section restaurants */
.restaurants {
  padding: 20px;
  background-color: whitesmoke;
}

.restaurants__card {
  box-shadow: 1px 1px 15px 1px gainsboro;
  border-radius: 15px;
  position: relative;
  position: relative;
  margin-bottom: 20px;
  transition: all 400ms;
  cursor: pointer;
}
.restaurants__card:hover {
  box-shadow: 1px 1px 15px 1px #9356dc;
}
.restaurants__card img {
  border-radius: 15px 15px 0 0;
  height: 170px;
}
.restaurants__card__text {
  position: relative;
  padding: 15px 15px;
}

.new-label {
  position: absolute;
  width: 90px;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: #99e2d0;
  color: #269d80;
  font-family: "roboto-bold";
  text-align: center;
  border-radius: 3px;
}

/* Nouvelles règles pour les tablettes */
@media only screen and (min-width: 768px) {
  .howto__container {
    padding: 20px;
  }

  .howto__nav i {
    left: 200px;
  }

  .number-circle {
    top: -15px;
    left: 50%;
  }

  .restaurants-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .footer-links {
    flex-direction: row;
    gap: 30px;
  }

  .legal-notice,
.contact {
    margin-left: 30px;
  }
}
/* Nouvelles règles pour le desktop */
@media screen and (min-width: 900px) {
  #wrapper {
    max-width: unset;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #logo {
    padding: 40px 0;
  }
  #logo img {
    width: 20vw;
  }

  #localisation {
    padding: 40px 0;
    font-size: 1.5em;
  }

  .call-to-action {
    background-color: white;
    padding: 50px 0 0 0;
  }

  main {
    max-width: 1080px;
    width: 100%;
    padding: 40px 20px 60px 20px;
    display: flex;
    align-self: center;
    gap: 20px;
  }
  main #howto {
    width: calc(30% - 15px);
  }
  main .restaurants {
    width: calc(70% - 15px);
  }

  .howto__container,
.restaurants {
    background-color: whitesmoke;
    border-radius: 18px;
  }
  .howto__container img,
.restaurants img {
    height: 170px;
  }

  .howto__nav {
    margin-bottom: 0;
  }
  .howto__nav__button {
    flex-direction: column;
    justify-content: space-around;
    height: 155px;
    padding: 30px;
    text-align: center;
  }
  .howto__nav i {
    margin: 15px 0;
    position: inherit;
    left: inherit;
    font-size: xx-large;
  }
  .howto__nav .number-circle {
    top: -12px;
    left: inherit;
  }

  .footer-links,
footer h4 {
    max-width: 1080px;
    padding: 25px 25px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer h4 {
    padding: 0;
    font-size: 2em;
  }
}
/* --- Menu - à la Française --- */
.restaurant-title {
  font-family: "shrikhand";
  padding-top: 35px;
}

.menu-header {
  position: relative;
  background-color: white;
  padding: 0;
}
.menu-header i {
  font-size: 1.5em;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}

main {
  position: relative;
}

#wrapper-menu {
  top: -50px;
  padding: 0 20px;
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
}
#wrapper-menu h2 {
  padding: 7px 0;
}

.title-menu-like-icon {
  position: relative;
}

.partial-underline {
  width: fit-content;
  position: relative;
  display: inline-block;
  font-family: "roboto-thin";
}
.partial-underline::before {
  content: "";
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  width: 70%;
  bottom: 0;
}

.entries, .dishes, .desserts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.dishes-details-price {
  display: flex;
  justify-content: space-between;
}
.dishes-details-price strong {
  font-family: "roboto-medium";
  margin-right: 10px;
}
.dishes-details-price .text-overflow-ellipsis {
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer-menu {
  position: relative;
  top: -50px;
}

/* --- Nouvelles règles pour les tablettes --- */

/*# sourceMappingURL=style.css.map */
