.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    background-color: aquamarine;
    color: white;

    &--outline {
        background-color: unset;
        border: 2px aquamarine solid;
    }



}