/* --- Section - fonctionnement et bouton CTA --- */

.call-to-action__btn {
  @include box-shadow;
  display: block;
  position: relative;
  padding: 13px 15px;
  margin: 25px 0;
  width: fit-content;
  border-radius: 25px;
  color: white;
  background: $main-gradient;
  z-index: 1;
  &:hover::after {
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(105%);
    @include btn-hover-gradient;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
}

.howto__nav__button {
  @include cards-rounded-shadow;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: whitesmoke;
  transition: all 0.8s;
  z-index: 1;
  &:hover {
    & > i {
      color: $primary-color;
    }
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include btn-hover;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
}

/* --- Création de l'icone du coeur animé --- */

.fa-heart {
  @include heart-icon-fill-transition;
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  top: 77%;
  right: 20px;
  font-family: "font-awesome 4 Free";
  font-size: 28px;
  z-index: 1;
  &:hover::after {
    transform: scale(1);
    transform-origin: bottom;
    animation: pulse 0.6s 0.1s;
    -moz-animation: pulse 0.6s 0.1s;
    z-index: 1;
  }
  &::after {
    @include heart-icon-fill-transition;
    font-family: "font-awesome 4 Free";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    content: "\f004";
    transform: scale(0);
    transform-origin: bottom;
    color: transparent;
    background-image: $secondary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
}

/* --- Création du bouton des plats avec icone check qui execute une rotation --- */

.dishes-btn {
  @include cards-rounded-shadow;
  text-overflow: ellipsis;
  font-size: 0.9em;
  padding: 10px;
  height: 70px;
  width: 100%;
  overflow: hidden;
  transition: $main-transition-all-5s-ease-out;

  /* --- Pseudo élément pour le background vert --- */

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4.4em;
    height: 100%;
    background-color: $tertiary-color;
    transform: translateX(100%);
    transition: $main-transition-all-5s-ease-out;
  }

  /* --- Pseudos éléments pour l'icone check --- */

  &::before {
    content: "\f058";
    position: absolute;
    font-family: "font-awesome 4 Free";
    right: 0;
    top: 25%;
    font-size: 25px;
    transform: translateX(100%) rotate(90deg);
    color: white;
    z-index: 2;
    transition: $main-transition-all-5s-ease-out;
  }
  &:hover {
    padding-right: 4.4em;
    &::after {
      transform: translateX(0%);
    }
    &::before {
      transform: translate(-70%) rotate(1turn);
    }
  }
}

/* --- Régles sécifiques aux tablettes --- */

@media only screen and (min-width: 768px) {
  .howto__nav__button {
    padding-left: 300px;
  }
}

.order-btn {
  @include flex-align-items-center-justify-content-center;
  & .call-to-action__btn {
    padding: 15px 50px;
    margin: 0 0 40px 0;
  }
}

/* --- Régles spécifiques au desktop --- */

@media only screen and (min-width: 900px) {
  .dishes-btn {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    &::before {
      top: 30%;
    }
  }
}
