.call-to-action__btn {
    @include box-shadow;
    display: block;
    padding: 13px 15px;
    margin: 25px 0;
    width: fit-content;
    border-radius: 25px;
    color: white;
    background: $main-gradient;
    transition: box-shadow 0.8s, text-shadow 0.5s;
    &:hover {
        @include btn-hover-gradient;
    }
}

.howto__nav__button {
    @include cards-rounded-shadow;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 80px;
    background-color: whitesmoke;
    transition: all 0.8s;
    &:hover {
        @include btn-hover;
    }
}

/* --- Icone coeur animée --- */

.like-icon-regular {
    @include like-icon-positioning;
    opacity: 1;
    transition: opacity 1s ease-out;
    &:hover {
        opacity: 0;
    }
}

.like-icon-solid {
    @include like-icon-positioning;
    color: transparent;
    opacity: 0;
    background-image: $secondary-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    transition: opacity 1s ease-in;
    &:hover {
        animation: pulse 0.6s 0.8s infinite;
        color: transparent;
        background-image: $secondary-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        opacity: 1;
    }
}

/* --- Bouton des plats avec check pivotant --- */

.dishes-btn {
    @include cards-rounded-shadow;
    position: relative;
    font-size: 0.9em;
    padding: 10px;
    height: 70px;
    width: 100%;
    overflow: hidden;
    transition: $main-transition-all-5s-linear;

/* --- Pseudo élément pour le background vert --- */

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 18%;
        height: 100%;
        background-color: $tertiary-color;
        transform: translateX(100%);
        transition: $main-transition-all-5s-linear;
    }
/* --- Pseudo élément pour l'icone check --- */

        &::before {
        content: "\f058";
        visibility: hidden;
        position: absolute;
        font-family: "font-awesome 4 Free";
        right: 0;
        top: 25%;
        font-size: 25px;
        transform: translateX(100%) rotate(90deg);
        color: white;
        z-index: 2;
        transition: all .4s linear;
    }
    &:hover {
            padding-right: 60px;
            &::after {
                background-color: $tertiary-color;
                width: 18%;
                transform: translateX(0%);
                transition: $main-transition-all-5s-linear;
            }            
            &::before {
            transform: translate(-70%) rotate(1turn);
            visibility: visible;
            transition: $main-transition-all-5s-linear;
            z-index: 2;
        }
    }
}

/* --- Régles sécifiques aux tablettes --- */

@media only screen and (min-width: 768px) {
    .howto__nav__button {
        padding-left: 300px;
    }
}

/* --- Régles des boutons pour les pages menus --- */

.like-icon-regular-menu {
    @include like-icon-positioning-menu;
}

.like-icon-solid-menu {
    @include like-icon-positioning-menu;
    opacity: 0;
    transition: all 1s;
    &:hover {
        animation: pulse 0.6s 0.8s infinite;
        color: transparent;
        background-image: $secondary-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        opacity: 1;
    }
}

.order-btn {
    @include flex-align-items-center-justify-content-center;
    & .call-to-action__btn {
        padding: 15px 50px;
        margin: 0 0 40px 0;
    }
}
