* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

h1,
h2 {
  font-family: "roboto-bold", Sans-serif;
  padding: 20px 0;
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-family: "roboto-bold", Sans-serif;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-family: "shrikhand", Sans-serif;
  font-size: 1.2em;
}

h5 {
  font-family: "roboto-thin", Sans-serif;
}

p,
span {
  font-family: "roboto-light", Sans-serif;
}

a,
button {
  font-family: "roboto-regular", Sans-serif;
  font-size: 1em;
  cursor: pointer;
}

button,
input {
  font-family: "roboto-bold", Sans-serif;
  border: none;
  background-color: transparent;
}

#wrapper {
  margin: 0 auto;
  max-width: 1024px;
}
