    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

    img, picture, video, canvas, svg {
    display: block;
    width: 100%;
    object-fit: cover;
  }

    input, button, textarea, select {
    font-family: inherit;
  }

    a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

    h1, h2 {
    font-family: 'roboto-bold';
    padding: 20px 0;
}

    h1 {
      font-size: 1.7em;
      line-height: 1.1;
}

    h2 {
    font-size: 1.4em;
}

    h3 {
    font-family: 'roboto-bold';
    font-weight: 400;
}

    h4 {
    font-family: 'shrikhand';
    font-size: 1.2em;
}

    p {
    font-family: 'roboto-light';
}

    span, a {
    font-family: 'roboto-regular';
    font-size: 1em;
    cursor: pointer;
    text-overflow: ellipsis;
}

    button, input {
    font-family: 'roboto-bold';
    border: none;
    background-color: transparent;
}

    #wrapper {
    margin: 0 auto;
    max-width: 1024px;
}
