/* --- Menu - à la Française --- */

.restaurant-title {
    font-family: 'shrikhand';
    padding-top: 35px;
}

.menu-header {
    position: relative;
    background-color: white;
    padding: 0;
    & i {
        font-size: 1.5em;
    }
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}

main {
    position: relative;
}

#wrapper-menu {
    top: -50px;
    padding: 0 20px;
    border-radius: 40px 40px 0 0;
    background-color: whitesmoke;
    & h2 {
        padding: 7px 0;
    }
}

.title-menu-like-icon {
    position: relative;
}

.partial-underline {
    width: fit-content;
    position: relative;
    display: inline-block;
    font-family: 'roboto-thin';
    &::before {
    content: '';
    border-bottom: 4px solid $tertiary-color;
    position: absolute;
    width: 70%;
    bottom: 0;
    }
  }

.entries, .dishes, .desserts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.dishes-details-price {
    display: flex;
    justify-content: space-between;
    & strong {
        font-family: 'roboto-medium';
        margin-right: 10px;
   }
    & .text-overflow-ellipsis {
        max-width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.footer-menu {
    position: relative;
    top: -50px;
}

/* --- Nouvelles règles pour les tablettes --- */

@media only screen and (min-width: 768px) {
    
}

