.title-menu-like-icon {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .restaurant-title {
    font-family: "shrikhand", Sans-serif;
    padding-top: 35px;
  }

  & .btn-like {
    margin-right: 15px;
    top: 35px;
  }
}

.menu-header {
  position: relative;
  background-color: white;
  padding: 0;

  & i {
    font-size: 1.5em;
  }
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}

.hero-image img {
  height: 250px;
}

main {
  position: relative;
}

#wrapper-menu {
  padding: 0 20px;
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
  margin-top: -3em;

  & h2 {
    padding: 7px 0;
  }

  & .entries {
    animation: 1s ease dishes-appearance;
  }

  & .dishes {
    animation: 2s ease dishes-appearance;
  }

  & .desserts {
    animation: 3s ease dishes-appearance;
  }
}

.partial-underline {
  width: fit-content;
  position: relative;
  display: inline-block;
  font-family: "roboto-thin", Sans-serif;

  &::before {
    content: "";
    border-bottom: 4px solid $tertiary-color;
    position: absolute;
    width: 70%;
    bottom: 0;
  }
}

.entries,
.dishes,
.desserts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.dishes-details-price {
  display: flex;
  justify-content: space-between;

  & strong {
    font-family: "roboto-medium", Sans-serif;
    padding: 10px;
  }

  & .text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* --- Nouvelles règles pour les tablettes --- */

@media only screen and (min-width: 768px) {
  .hero-image img {
    height: 300px;
  }

  .container-menus {
    display: grid;
    justify-content: space-between;
    grid-template-rows: auto;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    .desserts {
      grid-column-end: span 2;
    }
  }
}

/* --- Nouvelles règles pour le desktop --- */

@media only screen and (min-width: 900px) {
  #wrapper-menu {
    margin: 0 auto;
    margin-top: -3em;
    max-width: 100vw;
    flex-direction: column;
    .container-menus {
      grid-template-columns:
        calc(33.33% - 10px)
        calc(33.33% - 10px)
        calc(33.33% - 10px);
    }
    .desserts {
      grid-column-end: initial;
    }
  }
}
