/* --- Pulsations de l'icone coeur --- */

@keyframes pulse {
  0% {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
  }

  15% {
    transform: scale(0.3);
    -moz-transform: scale(0.3);
    -webkit-transform: scale(0.3);
  }

  30% {
    transform: scale(0.6);
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }

  50% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }

  70% {
    transform: scale(1.2);
    transition-delay: all 1s;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
  }
}

/* --- Loading spinner --- */

@keyframes loading-disappear {
  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    display: none;
  }
}

@-webkit-keyframes knife-cut {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes knife-cut {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes knife-cut {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes knife-cut {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-35deg);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translate(25px, 0) rotate(-35deg);
  }
}

/* --- Animation du loader - ligne d'ingrédients scrollant horizontalement à l'infinie --- */

@keyframes food-line-translate {
  to {
    transform: translate(-100%, 0);
  }

  from {
    transform: translate(0%, 0);
  }
}

@keyframes check-btn {
  from {
    border-right: 60px solid $tertiary-color;
    transition: $main-transition-all-5s-ease-out;
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes dishes-appearance {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  70% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
