@mixin box-shadow {
    -webkit-box-shadow: 0 7px 10px -5px #8e8e8e;
    -moz-box-shadow: 0 7px 10px -5px #8e8e8e;
    box-shadow: 0 7px 10px -5px #8e8e8e;
}

@mixin top-box-shadow-inset {
    -moz-box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
    box-shadow: inset 0 7px 10px -11px rgba(50, 50, 50, 0.75);
}

@mixin cards-rounded-shadow {
    box-shadow: 1px 1px 15px 1px gainsboro;
    border-radius: 15px;
    position: relative;
}

@mixin cards-rounded-shadow-hover {
    box-shadow: 1px 1px 15px 1px $primary-color;
    border-radius: 15px;
}

@mixin btn-hover {
    opacity: 0.8;
    box-shadow: 0 1px 12px 1px $primary-color;
    background: rgba(147, 86, 220, 0.1);
    border-radius: 15px;
}

@mixin btn-hover-gradient {
    background: $hover-gradient;
    box-shadow: 1px 1px 4px 1px $primary-color;
    text-shadow: 1px 1px 0 $primary-color;
    border-radius: 25px;
}

@mixin flex-align-items-center-justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin like-icon-positioning-absolute {
    position: absolute;
    top: 75%;
    right: 5%;
    font-size: 28px;
}

@mixin like-icon-positioning-menu {
    position: absolute;
    // top: 35px;
    // right: 20px;
    // font-size: 25px;
    // width: fit-content;
}

@mixin position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin heart-icon-fill-transition {
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

@mixin moving-icons-loader-properties {
    content: '\f2e7\f805\f564\f787\f818\e448\f810\f7ef\f72f\f7b6\f2e7\f805\f564\f787\f818\e448\f810\f7ef\f72f\f7b6\f2e7\f805\f564\f787\f818\e448\f810\f7ef\f72f\f7b6';
    font-family: 'font-awesome 4 Free';
    animation: food-fiesta 10s linear infinite;
    color: $tertiary-color;
    font-size: 0.7em;
    letter-spacing: 3rem;
}